.form {
  $self: &;

  &__group {
    display: flex;
    flex-flow: column;

    &--button {
      margin-top: 30px;
    }

    & + &:not(&--button) {
      margin-top: 15px;
    }

    &--text {
      #{$self}__input {
        border: 1px solid $color-silver-lite;
      }
    }
  }

  &__label {
    font-weight: bold;
  }

  &__input {
    @include trans;
    background: none;
    border-radius: 3px;
    color: $color-silver-lite;
    margin: 2.5px 0;
    padding: 10px;
    
    &:focus {
      outline: 0;
      box-shadow: inset 0 0 10px $color-silver-lite;
    }
  }

  &__alert {
    color: $color-yellow;
    font-size: 0.75rem;
  }

  &--login,
  &--register {
    max-width: 300px;
  }
}
