.main {
  $self: &;
  @include mk-container;

  min-height: 100vh;
  padding-top: 150px;
  padding-bottom: 15px;

  &__btn {
    @include btn;
  }

  &__title {
    color: $color-hilite;
    font-family: $font-secondary;
    font-size: 1.75rem;
    margin: 0 0 60px;
  }
}
